.table {
  background-color: #fff;
  &__container {
    border-collapse: collapse;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      font-size: 2.9rem;
      font-weight: 500;
      color: var(--blue);
      margin-right: 10px;
    }
    .buttons {
      display: flex;
    }
    .export-btn,
    .filter-btn {
      display: flex;
      border: 1px solid var(--light-blue);
      align-items: center;
      padding: 5px 20px;
      border-radius: 2px;
      span {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--red);
        display: block;
        margin-top: -5px;
      }

      img {
        width: 25px;
        margin-right: 5px;
      }
    }
    .filter-btn {
      margin-left: 10px;
    }
  }
  &__container {
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
  }

  .tr,
  .td {
    padding: 20px 15px;
    text-align: left;
    vertical-align: center;
    min-height: 100px;
    font-weight: 600;
    color: var(--blue-gray);
    cursor: pointer;
  }
  .tr {
    &:hover {
      .td {
        border-color: transparent;
        background-color: var(--light-blue);
      }
    }
  }

  .td {
    border-bottom: 1px solid var(--light-blue);
    transition: background-color 100ms;
    &:first-child {
      border-left: 1px solid transparent;
    }

    &:last-child {
      border-right: 1px solid transparent;
    }
    span {
      display: block;
    }
    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--purple);
      padding: 4px;
      border-radius: 100%;
      img {
        width: 100%;
        width: 10px;
      }
    }
    &.blue {
      color: var(--blue);
    }
  }
}
