.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-rows: auto;
  background-color: #fff;
  &__header {
    grid-column: 1/-1;
    background-color: #fff;
    box-shadow: 6px 2px 26px rgba(39, 4, 80, 0.16);
    padding: 0px 50px 0px 40px;
    overflow-x: hidden;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-message {
      margin-right: 10px;
      border-right: 1px solid #d7e1ea;
      border-left: 1px solid #d7e1ea;
      padding: 10px 10px;
      font-family: "Gilroy" sans-serif;
      img {
        width: 15px;
      }
    }

    &-user {
      .button {
        font-family: "Gilroy" sans-serif;
      }
      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
  &__main {
    // padding: 0  0 30px 50px;
    margin-left: 260px;
    min-height: calc(100vh - 60px);
  }
}
